<app-header></app-header>

<section class="privacy-section">
    <div *ngIf="isGerman()" id="deutscher-container">
        <h1>Datenschutzerklärung</h1>
        <p> In folgender Datenschutzerklärung informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im
            Rahmen unserer Webseite. Wir erheben und verarbeiten personenbezogene Daten nur auf Grundlage der
            gesetzlichen Bestimmungen (Datenschutzgrundverordnung, Telekommunikationsgesetz 2003). </p>
        <p> Sobald Sie als Benutzer auf unsere Webseite zugreifen oder diese besuchen wird Ihre IP-Adresse, Beginn sowie
            Beginn und Ende der Sitzung erfasst. Dies ist technisch bedingt und stellt somit ein berechtigtes Interesse
            iSv Art 6 Abs 1 lit f DSGVO. </p>
        <h5>Kontakt mit uns</h5>
        <p>
        <p>Wenn Sie uns, entweder über unser Kontaktformular auf unserer Webseite, oder per Email kontaktieren, dann
            werden die von Ihnen an uns übermittelten Daten zwecks Bearbeitung Ihrer Anfrage oder für den Fall von
            weiteren Anschlussfragen für sechs Monate bei uns gespeichert. Es erfolgt, ohne Ihre Einwilligung, keine
            Weitergabe Ihrer übermittelten Daten.</p>
        <h5>Google Fonts</h5>
        <p> Unsere Website verwendet Schriftarten von „Google Fonts“. Der Dienstanbieter dieser Funktion ist: </p>
        <ul>
            <li> Google Ireland Limited Gordon House, Barrow Street Dublin 4. Ireland </li>
        </ul>
        <p> Tel: +353 1 543 1000 </p>
        <p> Beim Aufrufen dieser Webseite lädt Ihr Browser Schriftarten und speichert diese in den Cache. Da Sie, als
            Besucher der Webseite, Daten des Dienstanbieters empfangen kann Google unter Umständen Cookies auf Ihrem
            Rechner setzen oder analysieren. </p>
        <p> Die Nutzung von „Google-Fonts“ dient der Optimierung unserer Dienstleistung und der einheitlichen
            Darstellung von Inhalten. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO
            dar. </p>
        <p> Weitere Informationen zu Google Fonts erhalten Sie unter folgendem Link: </p>
        <ul>
            <li> <a href="https://developers.google.com/fonts/faq"> https://developers.google.com/fonts/faq </a> </li>
        </ul>
        <p> Weitere Informationen über den Umgang mit Nutzerdaten von Google können Sie der Datenschutzerklärung
            entnehmen: </p>
        <ul>
            <li> <a href="https://policies.google.com/privacy?hl=de"> https://policies.google.com/privacy?hl=de </a> .
            </li>
        </ul>
        <p> Google verarbeitet die Daten auch in den USA, hat sich jedoch dem <br /> EU-US Privacy-Shield unterworfen.
        </p>
        <p> <a href="https://www.privacyshield.gov/EU-US-Framework"> https://www.privacyshield.gov/EU-US-Framework </a>
        </p>
        <h5>Ihre Rechte als Betroffener</h5>
        <p>Sie als Betroffener haben bezüglich Ihrer Daten, welche bei uns gespeichert sind grundsätzlich ein Recht auf:
        </p>
        <ul>
            <li>Auskunft</li>
            <li>Löschung der Daten</li>
            <li>Berichtigung der Daten</li>
            <li>Übertragbarkeit der Daten</li>
            <li>Wiederruf und Widerspruch zur Datenverarbeitung</li>
            <li>Einschränkung</li>
        </ul>
        <p>Wenn sie vermuten, dass im Zuge der Verarbeitung Ihrer Daten Verstöße gegen das Datenschutzrecht passiert
            sind, so haben Sie die Möglichkeit sich bei uns (simonb&#64;live.at) oder der Datenschutzbehörde zu
            beschweren.
        </p>
        <h5>Sie erreichen uns unter folgenden Kontaktdaten:</h5>
        <p><b>Webseitenbetreiber:</b> Simon Brost<br> <b>Telefonnummer:</b> auf Anfrage<br> <b>Email:</b>
            simonb&#64;live.at
        </p>
        <p>Quelle: <b><a href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php">DSGVO
                    Generator Österreich</a></b></p>
    </div>

    <div *ngIf="!isGerman()" id="english-container">
        <h1>Privacy Policy</h1>
        <p> In the following privacy policy, we inform you about the most important aspects of data processing within
            the framework of our website. We collect and process personal data only on the basis of legal provisions
            (General Data Protection Regulation, Telecommunications Act 2003). </p>
        <p> As soon as you, as a user, access or visit our website, your IP address, start and start and end of the
            session will be recorded. This is technically necessary and thus constitutes a legitimate interest within
            the meaning of Art 6 Para 1 lit f GDPR. </p>
        <h5>Contact with us</h5>
        <p>
        <p>If you contact us, either via our contact form on our website or by email, the data you provide to us will be
            stored for six months for the purpose of processing your request or for any follow-up questions. Your
            transmitted data will not be passed on without your consent.</p>
        <h5>Google Fonts</h5>
        <p> Our website uses fonts from "Google Fonts". The service provider of this function is: </p>
        <ul>
            <li> Google Ireland Limited Gordon House, Barrow Street Dublin 4. Ireland </li>
        </ul>
        <p> Tel: +353 1 543 1000 </p>
        <p> When you visit this website, your browser loads fonts and stores them in the cache. Since you, as a visitor
            to the website, receive data from the service provider, Google may set or analyze cookies on your computer.
        </p>
        <p> The use of "Google Fonts" serves to optimize our service and to ensure a uniform presentation of content.
            This constitutes a legitimate interest within the meaning of Art. 6 Para. 1 lit. f GDPR. </p>
        <p> For more information about Google Fonts, please visit the following link: </p>
        <ul>
            <li> <a href="https://developers.google.com/fonts/faq"> https://developers.google.com/fonts/faq </a> </li>
        </ul>
        <p> For more information on how Google handles user data, please refer to Google's privacy policy: </p>
        <ul>
            <li> <a href="https://policies.google.com/privacy?hl=en"> https://policies.google.com/privacy?hl=en </a> .
            </li>
        </ul>
        <p> Google also processes the data in the USA but is <br /> committed to the EU-US Privacy Shield. </p>
        <p> <a href="https://www.privacyshield.gov/EU-US-Framework"> https://www.privacyshield.gov/EU-US-Framework </a>
        </p>
        <h5>Your rights as a data subject</h5>
        <p>You as a data subject have the right to:</p>
        <ul>
            <li>Information</li>
            <li>Deletion of data</li>
            <li>Correction of data</li>
            <li>Data portability</li>
            <li>Revocation and objection to data processing</li>
            <li>Restriction</li>
        </ul>
        <p>If you suspect that your data has been processed in violation of data protection law, you have the option to
            file a complaint with us (simonb&#64;live.at) or the data protection authority.</p>
        <h5>You can reach us at the following contact details:</h5>
        <p><b>Website operator:</b> Simon Brost<br> <b>Phone number:</b> upon request<br> <b>Email:</b> simonb&#64;live.at
        </p>
        <p>Source: <b><a href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php">DSGVO
                    Generator Austria</a></b></p>
    </div>
</section>

<app-footer></app-footer>