<app-header></app-header>

<section class="imprint-section">

    <div class="imprint-english">
        <h4>Impressum</h4>
        <p><b>Information and Disclosure according to &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO, and &sect;
                14 UGB</b></p>
        <p><b>Website Operator:</b> Simon Brost</p>
        <p><b>Address:</b> Gartengasse 13b, 2213 Bockfließ</p>
        <p><b>VAT Number:</b> <br> <b>Trade Authority:</b> <br> <b>Memberships:</b></p>
        <p><b>Contact Information:</b> <br> Phone: <br> Email: simonb&#64;live.at</p>
        <p><b>Applicable Legal Regulations:</b> www.ris.bka.gv.at <br> <b>Professional Title:</b> </p>
        <p><b>Online Dispute Resolution:</b> Consumers residing in Austria or in another contracting state of the
            ODR Regulation have the possibility to resolve problems regarding the paid purchase of goods or services
            within the framework of online dispute resolution (according to OS, AStG). The European Commission
            provides a platform for this purpose: https://ec.europa.eu/consumers/odr</p>
        <p><b>Copyright:</b> The contents of this website are subject, as far as legally possible, to various
            protective rights (e.g., copyright). Any use/distribution of provided material that is prohibited by
            copyright requires the written consent of the website operator.</p>
        <p><b>Disclaimer:</b> Despite careful content control, the website operator of this website assumes no
            liability for the content of external links. The operators of the linked pages are solely responsible
            for their content. If you become aware of outgoing links that refer to a website with unlawful
            activity/information, please inform us accordingly to promptly remove them pursuant to § 17 Abs. 2
            ECG.<br>The copyrights of third parties are carefully respected by the operator of this website. If you
            nevertheless become aware of a copyright infringement, please provide us with the corresponding notice.
            Upon becoming aware of such infringements, we will promptly remove the affected content.</p>
        <p>Source: <b><a href="https://www.fairesrecht.at/">fairesRecht.at</a></b></p>
    </div>

    <div class="imprint-german">
        <h4>Impressum</h4>
        <p><b>Informationen und Offenlegung gemäß &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und &sect; 14
                UGB</b></p>
        <p><b>Webseitenbetreiber:</b> Simon Brost</p>
        <p><b>Anschrift:</b> Gartengasse 13b, 2213 Bockfließ</p>
        <p><b>UID-Nr:</b> <br> <b>Gewerbeaufsichtbehörde:</b> <br> <b>Mitgliedschaften:</b></p>
        <p><b>Kontaktdaten:</b> <br> Telefon: <br> Email: simonb&#64;live.at</p>
        <p><b>Anwendbare Rechtsvorschrift:</b> www.ris.bka.gv.at <br> <b>Berufsbezeichnung:</b> </p>
        <p><b>Online Streitbeilegung:</b> Verbraucher, welche in Österreich oder in einem sonstigen Vertragsstaat der
            ODR-VO
            niedergelassen sind, haben die Möglichkeit Probleme bezüglich dem entgeltlichen Kauf von Waren oder
            Dienstleistungen
            im Rahmen einer Online-Streitbeilegung (nach OS, AStG) zu lösen. Die Europäische Kommission stellt eine
            Plattform
            hierfür bereit: https://ec.europa.eu/consumers/odr</p>
        <p><b>Urheberrecht:</b> Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich möglich ist, diversen
            Schutzrechten (z.B dem Urheberrecht). Jegliche Verwendung/Verbreitung von bereitgestelltem Material, welche
            urheberrechtlich untersagt ist, bedarf schriftlicher Zustimmung des Webseitenbetreibers.</p>
        <p><b>Haftungsausschluss:</b> Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Webseitenbetreiber dieser
            Webseite
            keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren
            Betreiber verantwortlich. Sollten Sie dennoch auf ausgehende Links aufmerksam werden, welche auf eine
            Webseite mit
            rechtswidriger Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach §
            17 Abs. 2
            ECG umgehend zu entfernen.<br>Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter
            Sorgfalt
            beachtet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen werden wir den betroffenen Inhalt
            umgehend
            entfernen.</p>
        <p>Quelle: <b><a href="https://www.fairesrecht.at/">fairesRecht.at</a></b></p>
    </div>
</section>

<app-footer></app-footer>